* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.display {
    background-color: rgb(65, 63, 63);
    width: 100%;
    padding: 5px 25px;
    font-size: 2em;
    color: white;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    text-align: right;
    max-width: 800px;
}

.flex-container-row {
    display: flex;
}

.button {
    flex-basis: 25%;
    padding: 40px;
    font-size: 1.5em;
    background-color: rgb(214, 209, 209);
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}
.button:hover {
    font-weight: bold;
}

.card {
    box-shadow: 0px 5px 10px rgba(31, 30, 30, .3);
    padding: 30px;
    border-radius: 10px;
}

.history {
    margin: 30px auto 0 auto;
    width: 80%;
    overflow: scroll;
}

table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th, td {
    padding: 16px;
    text-align: center;
}

th {
    background-color: orange;
    color: white;
}
tr:nth-child(even) {
    background-color: #d2d2d2;
}



.dobel {
    flex-basis: 50%;
}
.negatif, .operator, .samadengan, .hapus {
    background-color: orange;
}



@media screen and (max-width: 600px) {
    .button {
        padding: 25px;
    }
}
@media screen and (max-width: 400px) {
    .button {
        padding: 10px;
    }
}